$spacer: 1rem;
$spacer2: 0.75rem;

$hero-font: clamp(2.5rem, 5vw, 5rem);
$sub-font: clamp(2rem, 3vw, 2.4rem);
$main-font: clamp(1.6rem, 2vw, 2rem);

$new-hero: clamp(64px, 2.5vw, 4rem);
$new-main: clamp(18px, 2.5vw, 1.5rem);

$clr-text: #3f3f3f;
$clr-main: rgb(223, 151, 18);
$clr-sub: orange;
$clr-white: #f2f2f2;
$clr-anchor: #fff;
$clr-link: #FFFFFF;